@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1762347489925') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tubiaoku-:before {
  content: "\e61a";
}

.icon-frown:before {
  content: "\e77e";
}

.icon-meh:before {
  content: "\e780";
}

.icon-smile:before {
  content: "\e783";
}

.icon-chengzhi:before {
  content: "\e60f";
}

.icon-natiecai:before {
  content: "\e70e";
}

